<app-navbar></app-navbar>

  <h1>Gallery Page</h1>

  <label>Enter A Number To Know the day</label>
  <input type="text" [(ngModel)]="day">
  <div [ngSwitch]="day">

    <div *ngSwitchCase="0">It Is Sunday</div>
    <div *ngSwitchCase="1">It Is Monsay</div>
    <div *ngSwitchCase="2">It Is Tuesday</div>
    <div *ngSwitchCase="3">It Is Wedneday</div>
    <div *ngSwitchCase="4">It Is Thursday</div>
    <div *ngSwitchCase="5">It Is Friday</div>
    <div *ngSwitchCase="6">It Is Saturday</div>
    <div *ngSwitchDefault>Please Enter Valid Number</div>

  </div>

<!--
  <br><br><br>

  <img src="https://media.licdn.com/dms/image/D4D22AQE9ATGfVb7BbQ/feedshare-shrink_1280/0/1681333047811?e=1692230400&v=beta&t=yAFuXhvgCaoZLKrTAarkmR4O3cKCMmdDMGxloKnQbGQ" height="300" width="300"><br><br>

  <img src="https://media.licdn.com/dms/image/D4D22AQHV3pG70hmZtg/feedshare-shrink_480/0/1688697763812?e=1692230400&v=beta&t=LOVv_CrfZ6oTP6mJEoOl91hm9YZ2VNwgkhF8aa-Hluc" height="300" width="300"><br><br>
 
  <img src="https://media.licdn.com/dms/image/D4D22AQFkfPrNUpP90A/feedshare-shrink_1280/0/1683101382419?e=1692230400&v=beta&t=qnlXiXbARCH-m95V7r4nQw_xnqtz-CwB_N0DzE6BHMg" height="300" width="300"><br><br>
  
  <img src="https://media.licdn.com/dms/image/C4D22AQGmqdyM9HMZxQ/feedshare-shrink_480/0/1669118365962?e=1692230400&v=beta&t=GYvDe5E2Rg1RGwRvVhLwFGevxLnmKXR8ZeN9e8xW4xs" height="300" width="300"><br><br>

  -->